header{
    background-color: #a6d3e2;
    top: 0px;
    margin-left: auto; /* устанавливает внешний отступ слева от элемента*/
    margin-right: auto;
    padding-left: 10px; /* Поля вокруг текста */
    padding-right: 5px;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #fee6c4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
}

form{
    background-color: #b6dbe7;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 3px;
    text-align:center;

}

footer{
    background-color: #88b6c5;
    font-size: 18px;
    position: static; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding-left: 10px; /* Поля вокруг текста */
    width: 100%;
}


h1, h2, h3, p, td{
    color: #3e2d26;
}

h1{
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #000000;
}

#catalog_cat{
    font-size: 40px;
}

#main_search{
    font-size: 25px;
    text-align: right;
}

